ul {
    list-style-position: inside;
    padding-left: 2em;
    width: 25em;
    font-size: 110%;
}

li {
    margin-top: 0.1em;
}

li.item > form {
    float: right;
}

.x {
    float: right;
    width: 12px;
    height: 12px;
    border: 0px;
    background-color: transparent;
    background-image: url(/static/x_delete.png);
    background-position: 0px 12px;
/*    display: none; */
}


li:hover .x {
/*    display: inline;*/
    background-position: 0px 0px;
}
    
li.item .spinning {
    float: right;
}

.add_new_item {
    color: #a0a0a0;
    list-style-image: url("/static/green_plus_12.png");
    cursor: pointer;
}

.add_new_section {
    color: #a0a0a0;
    background: url("/static/green_plus_16.png") no-repeat 0 15px;
    padding-left: 1em;
    cursor: pointer;
    min-height: 2em;
}

.expanded {
    cursor: default;
}



.add_form {
    display: inline;
}

.hidden {
    display: none;
}